# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/
*.swp
*.swo
*~

# Node (si en algún momento se usa)
node_modules/
npm-debug.log*

# Archivos temporales
*.tmp
*.log
$null

# Entornos
.env
.env.local
